{% extends 'base.html.twig' %}

{% block title %}
	Lista de notas
{% endblock %}

{% block body %}


	<div class="example-wrapper">
		<h1>
			Creación de nota</h1>
		<p>
			Nota id:
			{{nota.id}}
		</p>
		<p>
			Título:
			{{nota.titulo}}
		</p>
		<p>
			Descripción:
			{{nota.titulo}}
		</p>
	</div>
{% endblock %}
