{% extends 'base.html.twig' %}

{% block title %}
	Crear tarea
{% endblock %}

{% block body %}
	<h1>Crear nota</h1>


	{% include 'common/_mensajes.html.twig' %}
	{# le pasa un parametro llamado action con el valor la ruta relativa a una ruta  a la plantilla parcial _formulario.html.twig  #}
	{% include 'nota/_formulario.html.twig' with {'action':  path('app_nota_new') , 'etiqueta_btn_enviar': 'Guardar'} %}
{% endblock %}
